input {
    width: 50px;
    height: 50px;
    color: rgba(250, 243, 240, 0.904);
    margin: 0;
    padding: 0;
    font-size:18px;
}
#zero{
    height: 50px;
    width: 104px;
}
input.oper, #rez{
    background-color: rgba(235, 165, 15, 0.87);
}
#c,#cc,#ce{
    background-color:rgb(77, 74, 74);
}
.digit,#poi{
    background-color: rgb(134, 133, 133)
}
    
div{
    margin: 0;
    padding: 0;
}

#disp {
    width: 208px;
    margin-bottom: 0;
    font-size: 24px;
    background-color:black
}
